body {
    background-color: darkgray;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 { 
    color: white;
    font-size: 50;
}

p {
    color:black;
}

a:link, a:visited {
    font-weight: bold;
    background-color: darkgray;
    color: white;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-color: white;
    
  }
  
  a:hover, a:active {
    background-color: gray;
  }
  